global-include *.py *.js *.rst *.html *.css *.lyx *.pdf *.png *.gif *.jpg *.txt *.jar *.bat *
global-exclude *.pyc .gitignore

prune .git
prune dist
prune pymui.egg-info
prune pymui/development/attic
prune pymui/development/docs
prune pymui/development/experiments
